.center {
	margin: auto;
	width: 60%;
	text-align: center;
}

textarea.textbox {
	width: inherit;
	height: 200px;
	font-size: x-large;
}

button {
	font-size: large;
}

/*
playback timings (ms):
  load_resource: 1517.297
  PetaboxLoader3.datanode: 901.439 (4)
  exclusion.robots.policy: 0.191
  RedisCDXSource: 89.066
  captures_list: 1822.053
  esindex: 0.01
  exclusion.robots: 0.205
  PetaboxLoader3.resolve: 736.153
  LoadShardBlock: 1712.913 (3)
  CDXLines.iter: 16.799 (3)
*/
